<!-- <div class="container"> -->
<div class="row">
  <div class="col-lg-4" style="margin-bottom: 10px;">
    <div class="card">
      <div class="card-header ">
        Mis mascotas
      </div>
      <div class="card-body">
        <div *ngIf="pet" class="pet-photo">
          <img [src]="pet.photo" class="img-thumbnail img-circle">
          <br>
          <br>
        </div>
        <select (change)="getPetDetails($event.target.value)" class="form-control" name="selectPet">
          <option value="-1">-- Mascota --</option>
          <option *ngFor="let aux_pet of pets; let i = index;" [value]="i">{{ aux_pet.name }}</option>
        </select>
        <br>
        <div class="card" *ngIf="pet">
          <div class="card-body">
            <h4 class="card-title">{{ pet.name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ pet.kind }}</h6>
            <div class="card-text">
              <p><strong>Raza:</strong> {{ pet.breed }}</p>
              <p><strong>Nació el:</strong> {{ pet.birthDate }}</p>
              <p><strong>La tengo desde:</strong> {{ pet.breed }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        Tratamientos
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<!-- </div> -->
