.card-header{
  background-color: #f1c626;
}
.title{
  font-weight: bold;
}
.btn-custom{
  color: white;
  background-color: #B2793C;
  border-color: #B2793C;
}
.btn-custom:hover{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #8A5D2E;
  border-color: #8A5D2E;
}
/* Links */
.page-item:not(.disabled) .page-link {
  background-color: #B2793C;
  border-color: #B2793C;
}
.page-item:not(.disabled) .page-link:hover{
  background-color: #8A5D2E;
  border-color: #8A5D2E;
  color: white;
}
.page-link:hover{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.filter-container{
  margin-bottom: 10px;
}
.card-expand{
  height: 100%;
}
