/* General */
html,body{
  margin: 0px;
  /*font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;*/
  background-color: #f7f3ee;
}
#logo{
  font-size: 1.2em;
}

a{
  cursor: pointer;
}

/* Default App Colors */
.bg-nav{
  background-color: #B2793C;
}
.table-header{
  background-color: #B2793C !important;
  border-color: #B2793C !important;
}
.table-header th{
  background-color: #B2793C !important;
  border-color: #B2793C !important;
  font-weight: normal;
}
.white{
  color: #FFFEF4;
}
.img-circle{
  border-radius: 100%;
}
.pet-photo {
  text-align: center;
  overflow: hidden;
}
.pet-photo img {
  max-width: 220px;
  max-height: 220px;
  min-width: 220px;
  min-height: 220px;
  object-fit: cover;
  object-position: center;
}
.card-header{
  background-color: #f1c626;
}
.title{
  font-weight: bold;
}
.btn-custom{
  color: white;
  background-color: #B2793C;
  border-color: #B2793C;
}
.btn-custom:hover{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #8A5D2E;
  border-color: #8A5D2E;
}
.filter-container{
  margin-bottom: 10px;
}
.card-expand{
  height: 100%;
}

/* Navigation Links */
.page-item:not(.disabled) .page-link {
  background-color: #B2793C;
  border-color: #B2793C;
}
.page-item:not(.disabled) .page-link:hover{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #8A5D2E;
  border-color: #8A5D2E;
  color: white;
}

/* Animations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
