<nav class="navbar navbar-expand-lg navbar-dark bg-nav white">
  <a class="navbar-brand" href="#">+Vete</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Inicio</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/vet-location']">Localiza tu veterinaria</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/pets']">Mascotas</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/vets']">Veterinarias</a>
    </div>
  </div>
</nav>
